<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}/update(id = ${user.getId()})}" th:object="${user}">
    <label for="email">Edit Email/Username: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <label for="password">Edit password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <label for="name">Edit name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="lastName">Edit lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="name">Edit age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <p>Роли:</p>
    <p><input type="checkbox" th:field="*{rolesStrings}" name="role" value="ROLE_ADMIN">ADMIN</p>
    <p><input type="checkbox" th:field="*{rolesStrings}" name="role" value="ROLE_USER">USER</p>
    <br/>

    <input type="submit" value="Save"/>
</form>
<br/>
<hr/>

<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="All users"/>
</form>
<br/>
<hr/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>

</body>
</html>